@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lato');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #96DB92;

    font-family: 'Lato', sans-serif;
}

input {
    /* max-width: 75%; */

    border-radius: 100px;
    border-style: none;
    width: 100%;
    outline: none;
    padding: 5px;
}

button, select {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;

    padding-top: .75rem;
    padding-bottom: .75rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    border-bottom: 1px solid rgb(97, 134, 83);
    filter: drop-shadow( 0px 3px 5px rgba( 0, 0, 0, .25 ));
}

.menuBut {
    position: absolute;
    left: 5px;
    /* float: left; */
    top: 50%;
    transform: translateY(-50%);
}

.searchCont {
    width: 80vw;
    height: 2rem;
    display: flex;
    align-content: stretch;
    align-items: stretch;

    position: relative;

    /* filter: drop-shadow( 0px 3px 5px rgba( 0, 0, 0, .25 )); */
}

.searchBar {
    display: inline;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-right: 30px;
    /* width: 100%; */
}

.searchOpt {
    width: 65px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    padding-left: 10px;
}

.headFont {
    font-family: 'comfortaa', serif;
    color: #ae003d;
}

.gpsBut {
    background: none;
    border: none;
    outline: none;
    right: 80px;

    position: absolute;
    right: 5px;

    top: 50%;
    transform: translateY(-45%);
}

.resultDisp {
    margin: 10px;
    margin-top: 4.25rem;
    width: 90%;

    border-radius: 10px;
    overflow: hidden;

    filter: drop-shadow( 0px 3px 5px rgba( 0, 0, 0, .25 ));
}

.resultItem {
    position: relative;
    height: 5rem;
    display: flex;
    align-items: center;
}

.resultItem:after {
    position: absolute;
    bottom: .1px;
    right: 0;
    width: 70%;
    border-bottom: 1px solid lightgray;
    content: '';
}

.resultItem span {
    display: inline-block;
    margin-left: 1rem;
}

.resultItem .butCont {
    margin-left: auto;
    margin-right: 1rem;
}

.butCont button {
    display: block;
    padding: 0;
}

.resultItem div {
    display: inline-block;
    position: relative;
}

.birdImg {
    display: inline-block;
    background-image: url("../assets/img/example_bird.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 30%;
    min-width: 30%;
}

.menu {
    height: calc( 100vh - 3.5rem );
    width: 75vw;
    position: fixed;
    top: 3.5rem;
    left: -75%;
    /* display: none; */
    z-index: 20;
    transition: left .5s ease-in-out;
}

#menuToggle:checked + .menu {
    /* display: initial; */
    left: 0;
}

.red {
    color: #fd393e;
}

.white {
    color: white;
}

.whiteFill {
    fill: white;
}

.blueFill {
    fill: dodgerblue;
}

.whiteBkg {
    background: white;
}

.darkGreenBkg {
    background: #678D58;
}

.greenBkg {
    background: #96DB92;
}
#ae003d
.headFont {
    font-family: 'comfortaa', serif;
    color: #ae003d;
}

.bodyFont {
    font-family: 'Lato', sans-serif;
}

.invisible {
    display:none;
}