.imgCardCont {
    position: relative;
    margin-bottom: 1rem;
}
.birdImg {
    width: 100%;

    position: relative;
    z-index: 20;

    box-shadow: 0px 5px 5px rgba( 0, 0, 0, .25 );
}

.imgCardCont .butCont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 4rem;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    bottom: 0px;
    z-index: 30;

    background: rgba( 0, 0, 0, .25 );
    box-shadow: 0 0 20px 10px rgba( 0, 0, 0, .25 );
    
    
}

.imgCardCont .butCont button {
    height: 24px;
    position: relative;
    /* top: 5px; */
    left: -1.5rem;
    top: -.75rem;
    transform: rotate(45deg);
}

.descriptDisp {
    padding: 15px;
    text-align: left;
}

.descriptDisp h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.descriptDisp h2, p {
    margin-bottom: 10px;
}

